##                          Model_Creation and Data Analysis of Uber_Data_set

In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_excel("uber_rides_data.xlsx")
df

,ride_id,fare_amount,pickup_datetime,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count
0,24238194,7.5,2015-05-07 19:52:06 UTC,-73.999817,40.738354,-73.999512,40.723217,1
1,27835199,7.7,2009-07-17 20:04:56 UTC,-73.994355,40.728225,-73.994710,40.750325,1
2,44984355,12.9,2009-08-24 21:45:00 UTC,-74.005043,40.740770,-73.962565,40.772647,1
3,25894730,5.3,2009-06-26 08:22:21 UTC,-73.976124,40.790844,-73.965316,40.803349,3
4,17610152,16.0,2014-08-28 17:47:00 UTC,-73.925023,40.744085,-73.973082,40.761247,5
...,...,...,...,...,...,...,...,...
199995,42598914,3.0,2012-10-28 10:49:00 UTC,-73.987042,40.739367,-73.986525,40.740297,1
199996,16382965,7.5,2014-03-14 01:09:00 UTC,-73.984722,40.736837,-74.006672,40.739620,1
199997,27804658,30.9,2009-06-29 00:42:00 UTC,-73.986017,40.756487,-73.858957,40.692588,2
199998,20259894,14.5,2015-05-20 14:56:25 UTC,-73.997124,40.725452,-73.983215,40.695415,1
199999,11951496,14.1,2010-05-15 04:08:00 UTC,-73.984395,40.720077,-73.985508,40.768793,1

In [3]:
#Shape of the given dataset?
df.shape

(200000, 8)

In [4]:
## No of integer columns(by default) given in the dataset?

integer_column=df.select_dtypes(include="int")
integer_column.shape

(200000, 2)

In [5]:
## No. of missing values present in 'dropoff_longitude' columns?

In [6]:
df['dropoff_longitude'].isnull().sum()

1

In [7]:
# data type of 'pickup_datetime' in the given dataset?
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200000 entries, 0 to 199999
Data columns (total 8 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   ride_id            200000 non-null  int64
 1   fare_amount        200000 non-null  float64
 2   pickup_datetime    200000 non-null  object
 3   pickup_longitude   200000 non-null  float64
 4   pickup_latitude    200000 non-null  float64
 5   dropoff_longitude  199999 non-null  float64
 6   dropoff_latitude   199999 non-null  float64
 7   passenger_count    200000 non-null  int64
dtypes: float64(5), int64(2), object(1)
memory usage: 12.2+ MB

In [8]:
## Which of the following is the correct syntax to convert 'pickup_datetime' to datetime datatype?

In [9]:
df['pickup_datetime']=df['pickup_datetime'].astype('datetime64[ns]')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200000 entries, 0 to 199999
Data columns (total 8 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   ride_id            200000 non-null  int64
 1   fare_amount        200000 non-null  float64
 2   pickup_datetime    200000 non-null  datetime64[ns]
 3   pickup_longitude   200000 non-null  float64
 4   pickup_latitude    200000 non-null  float64
 5   dropoff_longitude  199999 non-null  float64
 6   dropoff_latitude   199999 non-null  float64
 7   passenger_count    200000 non-null  int64
dtypes: datetime64[ns](1), float64(5), int64(2)
memory usage: 12.2 MB

In [10]:
## Which function can be used to remove null values from the dataframe?

df.dropna()

,ride_id,fare_amount,pickup_datetime,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count
0,24238194,7.5,2015-05-07 19:52:06,-73.999817,40.738354,-73.999512,40.723217,1
1,27835199,7.7,2009-07-17 20:04:56,-73.994355,40.728225,-73.994710,40.750325,1
2,44984355,12.9,2009-08-24 21:45:00,-74.005043,40.740770,-73.962565,40.772647,1
3,25894730,5.3,2009-06-26 08:22:21,-73.976124,40.790844,-73.965316,40.803349,3
4,17610152,16.0,2014-08-28 17:47:00,-73.925023,40.744085,-73.973082,40.761247,5
...,...,...,...,...,...,...,...,...
199995,42598914,3.0,2012-10-28 10:49:00,-73.987042,40.739367,-73.986525,40.740297,1
199996,16382965,7.5,2014-03-14 01:09:00,-73.984722,40.736837,-74.006672,40.739620,1
199997,27804658,30.9,2009-06-29 00:42:00,-73.986017,40.756487,-73.858957,40.692588,2
199998,20259894,14.5,2015-05-20 14:56:25,-73.997124,40.725452,-73.983215,40.695415,1
199999,11951496,14.1,2010-05-15 04:08:00,-73.984395,40.720077,-73.985508,40.768793,1

In [11]:
##What is the average fare amount?

# Remove the null values from the dataframe to answer the following question.

In [12]:
df.isnull().sum()

ride_id              0
fare_amount          0
pickup_datetime      0
pickup_longitude     0
pickup_latitude      0
dropoff_longitude    1
dropoff_latitude     1
passenger_count      0
dtype: int64

In [13]:
df['fare_amount'].mean()

11.359955250000626

In [14]:
## Calculate distance between each pickup and dropoff points using Haversine formula. 
## What is the median haversine distance between pickup and dropoff location according to the given dataset?

def haversine(pickup_latitude, pickup_longitude, dropoff_latitude, dropoff_longitude):
    
     #Radius of earth
    R = 6371.0
    
    dlon = dropoff_longitude - pickup_longitude
    dlat = dropoff_latitude - pickup_latitude
    
    # Haversine formula
    a = np.sin(dlat / 2)**2 + np.cos(pickup_latitude) * np.cos(dropoff_latitude) * np.sin(dlon / 2)**2
    c = 2 * np.arctan2(np.sqrt(a), np.sqrt(1 - a))
    
    distance = R * c
    
    return distance



df['distance'] = df.apply(lambda row: haversine(row['pickup_latitude'], row['pickup_longitude'], row['dropoff_latitude'], row['dropoff_longitude']), axis=1)



median_distance = df['distance'].mean()

print("Median Distance:", median_distance, "kilometers")

Median Distance: 237.89663804605635 kilometers

In [15]:
## What is the maximum haversine distance between pickup and dropoff location according to the given dataset?

In [16]:
max_distance = df['distance'].max()
print("Maximum Haversine Distance:", max_distance, "kilometers")

Maximum Haversine Distance: 19382.59392680846 kilometers

In [17]:
df

,ride_id,fare_amount,pickup_datetime,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count,distance
0,24238194,7.5,2015-05-07 19:52:06,-73.999817,40.738354,-73.999512,40.723217,1,96.455397
1,27835199,7.7,2009-07-17 20:04:56,-73.994355,40.728225,-73.994710,40.750325,1,140.817077
2,44984355,12.9,2009-08-24 21:45:00,-74.005043,40.740770,-73.962565,40.772647,1,337.582823
3,25894730,5.3,2009-06-26 08:22:21,-73.976124,40.790844,-73.965316,40.803349,3,105.259325
4,17610152,16.0,2014-08-28 17:47:00,-73.925023,40.744085,-73.973082,40.761247,5,324.000600
...,...,...,...,...,...,...,...,...,...
199995,42598914,3.0,2012-10-28 10:49:00,-73.987042,40.739367,-73.986525,40.740297,1,6.770903
199996,16382965,7.5,2014-03-14 01:09:00,-73.984722,40.736837,-74.006672,40.739620,1,140.235130
199997,27804658,30.9,2009-06-29 00:42:00,-73.986017,40.756487,-73.858957,40.692588,2,901.097042
199998,20259894,14.5,2015-05-20 14:56:25,-73.997124,40.725452,-73.983215,40.695415,1,210.569095
199999,11951496,14.1,2010-05-15 04:08:00,-73.984395,40.720077,-73.985508,40.768793,1,310.449863

In [18]:
# How many rides have 0.0 haversine distance between pickup and dropoff location according to the given dataset?

num_zero_distance_rides = (df['distance'] == 0.0).sum()
print("Number of rides with 0.0 Haversine distance:", num_zero_distance_rides)

Number of rides with 0.0 Haversine distance: 5632

In [19]:
## What is the mean 'fare_amount' for rides with 0 haversine distance?
# Do you sense something fishy? Try to analyze, and give your expert opinion in Jupyter Notebook.

mean_fare_for_zero_distance = df[df['distance'] == 0.0]['fare_amount'].mean()
print("Mean 'fare_amount' for rides with 0.0 Haversine distance:", mean_fare_for_zero_distance)

Mean 'fare_amount' for rides with 0.0 Haversine distance: 11.585317826704578

In [20]:
# What is the maximum 'fare_amount' for a ride?

df['fare_amount'].max()

499.0

In [21]:
# What is the haversine distance between pickup and dropoff location for the costliest ride?

# Find the index of the row with the highest 'fare_amount'
index_of_costliest_ride = df['fare_amount'].idxmax()

haversine_distance_costliest_ride = df.loc[index_of_costliest_ride, 'distance']

print("Haversine distance for the costliest ride:", haversine_distance_costliest_ride, "kilometers")

Haversine distance for the costliest ride: 0.058575714746904414 kilometers

In [22]:
# How many rides were recorded in the year 2014?

df['pickup_year'] = df['pickup_datetime'].dt.year
rides_in_2014 = (df['pickup_year'] == 2014).sum()                      # rides in the year 2014
print("Number of rides recorded in the year 2014:", rides_in_2014)

Number of rides recorded in the year 2014: 29968

In [23]:
# How many rides were recorded in the first quarter of 2014?


df['pickup_quarter'] = df['pickup_datetime'].dt.quarter
rides_in_first_quarter = (df['pickup_quarter'] == 1).sum()

print("Number of rides recorded in the first quarter of 2014:", rides_in_first_quarter)

Number of rides recorded in the first quarter of 2014: 53126

In [51]:
# On which day of the week in September 2010, maximum rides were recorded ?

df['pickup_datetime'] = pd.to_datetime(df['pickup_datetime'])

df['day_of_week'] = df['pickup_datetime'].dt.dayofweek


september_2010_rides = df[(df['pickup_datetime'].dt.year == 2010) & (df['pickup_datetime'].dt.month == 9)]
day_counts = september_2010_rides['day_of_week'].value_counts()
day_with_max_rides = day_counts.idxmax()

days_of_week = ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday", "Sunday"]
max_rides_day_name = days_of_week[day_with_max_rides]


print("Day of the week in September 2010 with the maximum rides:", max_rides_day_name)

Day of the week in September 2010 with the maximum rides: Thursday

## Problem statement

Apply a Machine Learning Algorithm to predict the fare amount given following input features:
"passenger_count", "distance" and "ride_week_day".

In [25]:
df.head()

,ride_id,fare_amount,pickup_datetime,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count,distance,pickup_year,pickup_quarter,day_of_week
0,24238194,7.5,2015-05-07 19:52:06,-73.999817,40.738354,-73.999512,40.723217,1,96.455397,2015,2,3
1,27835199,7.7,2009-07-17 20:04:56,-73.994355,40.728225,-73.994710,40.750325,1,140.817077,2009,3,4
2,44984355,12.9,2009-08-24 21:45:00,-74.005043,40.740770,-73.962565,40.772647,1,337.582823,2009,3,0
3,25894730,5.3,2009-06-26 08:22:21,-73.976124,40.790844,-73.965316,40.803349,3,105.259325,2009,2,4
4,17610152,16.0,2014-08-28 17:47:00,-73.925023,40.744085,-73.973082,40.761247,5,324.000600,2014,3,3

In [26]:
df['ride_week_day'] = df['pickup_datetime'].dt.dayofweek

In [27]:
df['distance'] = df['distance'].round(2)

In [28]:
df["passenger_count"].astype(int)
df["distance"].astype(float)
df["ride_week_day"].astype(object)

0         3
1         4
2         0
3         4
4         3
         ..
199995    6
199996    4
199997    0
199998    2
199999    5
Name: ride_week_day, Length: 200000, dtype: object

In [29]:
df['distance'].isnull().any()

True

In [30]:
df['passenger_count'].isnull().any()

False

In [31]:
df['ride_week_day'].isnull().any()

False

In [32]:
## There is null values present in 'distance' column

median_distance=df['distance'].median()
median_distance

136.63

In [33]:
df['distance'].fillna(median_distance, inplace=True)
df['distance'].isnull().any()                            # Now no any NAN values are present

False

In [34]:
df.head()

,ride_id,fare_amount,pickup_datetime,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count,distance,pickup_year,pickup_quarter,day_of_week,ride_week_day
0,24238194,7.5,2015-05-07 19:52:06,-73.999817,40.738354,-73.999512,40.723217,1,96.46,2015,2,3,3
1,27835199,7.7,2009-07-17 20:04:56,-73.994355,40.728225,-73.994710,40.750325,1,140.82,2009,3,4,4
2,44984355,12.9,2009-08-24 21:45:00,-74.005043,40.740770,-73.962565,40.772647,1,337.58,2009,3,0,0
3,25894730,5.3,2009-06-26 08:22:21,-73.976124,40.790844,-73.965316,40.803349,3,105.26,2009,2,4,4
4,17610152,16.0,2014-08-28 17:47:00,-73.925023,40.744085,-73.973082,40.761247,5,324.00,2014,3,3,3

In [47]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200000 entries, 0 to 199999
Data columns (total 13 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   ride_id            200000 non-null  int64
 1   fare_amount        200000 non-null  float64
 2   pickup_datetime    200000 non-null  datetime64[ns]
 3   pickup_longitude   200000 non-null  float64
 4   pickup_latitude    200000 non-null  float64
 5   dropoff_longitude  199999 non-null  float64
 6   dropoff_latitude   199999 non-null  float64
 7   passenger_count    200000 non-null  int64
 8   distance           200000 non-null  float64
 9   pickup_year        200000 non-null  int64
 10  pickup_quarter     200000 non-null  int64
 11  day_of_week        200000 non-null  int64
 12  ride_week_day      200000 non-null  int64
dtypes: datetime64[ns](1), float64(6), int64(6)
memory usage: 19.8 MB

In [35]:
df.shape

(200000, 13)

In [36]:
## Import the necessary modules

import seaborn as sns
import matplotlib.pyplot as plt


from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.neighbors import KNeighborsClassifier


from sklearn.metrics import r2_score
import statsmodels.api as sm

In [37]:
## Independent/input features and Dependent/output/Target feature X and Y

In [38]:
X = df[['passenger_count', 'distance', 'ride_week_day']]    # we have more than columns
Y = df['fare_amount']

In [39]:
print(X.shape)

print(Y.shape)

(200000, 3)
(200000,)

In [40]:
## Data Preprocessing

# Split the data into training and test data with 70:20 ratios......

from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.30)

In [41]:
X_train.shape

(140000, 3)

In [42]:
Y_train.shape

(140000,)

In [43]:
X_test.shape

(60000, 3)

In [44]:
Y_test.shape

(60000,)

In [49]:
# define a set of model
models = {
    'Linear Regression': LinearRegression(),
    'Decision Tree': DecisionTreeRegressor(),
    'Random Forest': RandomForestRegressor(),
}

In [50]:
adjusted_r2_scores = {}

for model_name,model in models.items():
    model.fit(X_train, Y_train)
    Y_test_pred = model.predict(X_test)
    
    r2 = r2_score(Y_test, Y_test_pred)                       # R-Squared Value
    
    
    n = X_test.shape[0]
    p = X_test.shape[1]
    adjusted_r2 = 1 - (1 - r2) * ((n - 1) / (n - p - 1))     #Adjusted R-Squared value
    
    adjusted_r2_scores[model_name] = adjusted_r2
    
    
    
least_adjusted_r2_model = min(adjusted_r2_scores, key=adjusted_r2_scores.get)


print("Adjusted R-squared scores:")
for model_name, adjusted_r2 in adjusted_r2_scores.items():
    print(f"{model_name}: {adjusted_r2:.4f}")

print(f"least adjusted R-squared is: {least_adjusted_r2_model}")

Adjusted R-squared scores:
Linear Regression: 0.1196
Decision Tree: 0.5169
Random Forest: 0.6555
least adjusted R-squared is: Linear Regression